@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');


:root {
    --darkgreen: #425F57;
    --midgreen: #749F82;
    --green: #A8E890;
    --lightgreen: #CFFF8D;
    --orange: #ffa600;

}

body {
    background-color: var(--darkgreen);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.navbar {
    margin-left: 100px;
}

.navbar a {
    font-family: 'Mochiy Pop One', sans-serif;
    color: var(--orange);
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.navbar :hover {
    color: var(--darkgreen)
}

#active {
    color: var(--green);
    box-shadow: 0 0 1rem var(--orange);
    border-radius: 10px;
}

.header {
    width: 100%;
    background-color: var(--midgreen);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 0.5rem var(--orange);
    display: flex;
    align-items: center;
}

#toptext {
    font-family: 'Mochiy Pop One', sans-serif;
    color: var(--orange);
    font-size: 40px;
    padding-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#rubrik {
    font-family: 'Mochiy Pop One', sans-serif;
    color: var(--green);
    font-size: 50px;
    /* max-width: 600px; */
    text-align: center;
    margin-top: 0;
    /* box-shadow: 0 0 2rem var(--orange); */
    border-radius: 50px;
}

#underrubrik {
    font-family: 'Mochiy Pop One', sans-serif;
    color: var(--green);
    font-size: 20px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
}

#pic {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 3.5rem var(--orange)
}

#text {
    font-family: 'Mochiy Pop One', sans-serif;
    max-width: 60%;
    color: var(--green);
    margin: auto;
    position: relative;
    top: 20px;
    margin-bottom: 90px;
    text-align: center;
}

#foottext {
    color: var(--darkgreen);
    font-size: 12px;
}

footer {
    width: 100%;
    font-family: 'Mochiy Pop One', sans-serif;
    background-color: var(--midgreen);
    bottom: 0%;
    left: 0%;
    position: fixed;
    padding-left: 2%;
    box-shadow: 0 0 0.5rem var(--orange)
}

#mailcolor {
    color: var(--darkgreen);
    text-decoration: none;
}

#mailcolor:hover {
    color: var(--green);
}

/* contact------------------------ */

.contact-box {
    position: relative;
    margin-top: 100px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    color: var(--green);

}

.contact-box .contact-text i {
    font-size: 50px;
}

.contact-box .contact-text a {
    color: var(--green);
}

.contact-text {
    font-size: 30px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.contact-box .contact-text p {
    margin-top: 2%;
}

.contact-map iframe {
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1rem var(--orange);
    opacity: 70%;
}

.contact-box a :hover {
    color: var(--orange);
    box-shadow: 0 0 1rem var(--orange);
    border-radius: 4px;
}

/* project------------------------ */

.project-box {
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
  
}

.project-box img{
    max-height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 1rem var(--orange);
}

.project-box a :hover{
    box-shadow: 0 0 5rem var(--orange);
}

.project-box .project{
    margin-left: 25px;
    margin-right: 25px;
   
}

.project-box h3{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 28px;
    color: var(--green);
    text-align: center;
}